@tailwind base;
@tailwind components;
@tailwind utilities;

#searchDiv {
  @apply bg-sky-50 border border-sky-900;
  @apply w-64;
  display: none;
  @apply rounded;
}
  
  #inputDiv:focus + #searchDiv { display: block; }
  #searchDiv:hover { display: block; }
