@tailwind base;
@tailwind components;
@tailwind utilities;

#searchDiv {
  @apply border border-sky-900 w-2/4 rounded-b bg-white px-4 mt-16 pb-16;
  display: none;
}
  
  #inputDiv:focus + #searchDiv { display: block; }
  #searchDiv:hover { display: block; }

  #logoFont {
    font-family: 'Montserrat Subrayada', sans-serif;
  }