@tailwind base;
@tailwind components;
@tailwind utilities;

#searchDiv {
  @apply border border-sky-900 w-2/4 rounded-b bg-white px-4 mt-16 pb-16;
  display: none;
}
  
  #inputDiv:focus + #searchDiv { display: block; }
  #searchDiv:hover { display: block; }

  #logoFont {
    font-family: 'Montserrat Subrayada', sans-serif;
  }

  @layer utilities {
    .animation-delay-2000 {
      animation-delay: 2s;
    }
    .animation-delay-4000 {
      animation-delay: 4s;
    }
  }

  .custom-shape-divider-top-1642622808 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1642622808 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 72px;
}

.custom-shape-divider-top-1642622808 .shape-fill {
    fill: white;
}

.custom-shape-divider-top-1642627204 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1642627204 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 46px;
}

.custom-shape-divider-top-1642627204 .shape-fill {
    fill: #FFFFFF;
}